<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to Quoting Dojo!</h1>
  <form action="/newquote" method='POST'>
    Name:<input type="text" name="name"><br>
    Quote:<textarea cols="30" rows="8" name="quote"></textarea><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>