<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Awesome Quotes</h1>
  <% for (let x in data.allQuotes) {%>
    <h3><%= data.allQuotes[x].quote %> </h3>
    <h4>-<%= data.allQuotes[x].name %> at <%= data.allQuotes[x].createdAt %> </h4>
    <% }%>
    <a href="/">Back</a>
</body>
</html>